<div id="formContainer" style="width: 100%;">
    <form id="passwordForm" class="password-form">
        <h4 class="text-center">Enter Posting Password</h4>
        <div class="button-input-wrapper">
            <input style="background: var(--input-background); text-align: left;" type="password" id="pagePassword"
                class="input-password" placeholder="Enter password" required />
            <button type="submit" class="btn">Submit</button>
        </div>
    </form>
</div>

<style>
    /* Simplified password form */
    .password-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 1rem;
        border-radius: var(--radius-medium);
        background: var(--secondary-color);
        border: var(--border-width-2) solid var(--primary-color);
        box-shadow: var(--shadow-standard);
    }

    .password-form h4 {
        margin-bottom: var(--margin-medium);
        font-size: 1.2rem;
        font-weight: bold;
    }

    .input-password {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
        text-align: center;
        border: var(--border-width-2) solid var(--primary-color);
        border-radius: var(--radius-medium);
        outline: none;
    }

    .input-password::placeholder {
        color: var(--primary-color);
        opacity: 0.7;
    }
</style>