<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/alert.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <title>Payment Canceled</title>
</head>

<body class="text-center" style="min-height: 100vh;">
    <div class="card">
        <h1 class="heading">Payment Canceled</h1>
        <p class="subtext">Your payment was not completed. If this was a mistake, you can try again.</p>
        <a href="/" style="text-decoration: none; margin-top: var(--margin-large);" class="btn btn--full">Go Back</a>
    </div>
    <style>
        html,
        body {
            min-height: 100vh;
        }
    </style>
</body>

</html>