<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/alert.css">
    <link rel="stylesheet" href="/styles.css">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <title>Payment Successful</title>
</head>

<body class="text-center">
    <div class="card">
        <h1 class="heading">Your Access Key</h1>
        <p class="subtext">Click key to copy it</p>
        <div class="private-box" style="border: 0; padding: 0;">
            <p id="apiKey" onclick="copyApiKey()" style="word-wrap: break-word; cursor: pointer;">...</p>
            <!-- <div class="api-key input-wrapper">Loading...</div> -->
        </div>

        <a href="/" style="text-decoration: none; margin-top: var(--margin-large);" class="btn btn--full">Home</a>

        <!-- <button class="btn" onclick="copyApiKey()">Copy</button> -->
        <p class="subtext" style="margin-top: var(--margin-large); margin-bottom: 0;">Write your key down.
            Paste it under "Increase Access" to start using it. Email access@opus.cafe with any issues.</p>
    </div>
    <script src="/pages/alert.js" defer></script>
    <script>
        function getCookie(name) {
            const cookies = document.cookie.split("; ");
            for (let cookie of cookies) {
                const [key, value] = cookie.split("=");
                if (key === name) return decodeURIComponent(value);
            }
            return null;
        }

        function saveKey() {
            const apiKey = getCookie("api_key");
            if (apiKey) {
                document.getElementById("apiKey").textContent = apiKey;
                localStorage.setItem("userApiKey", apiKey);
                // alert("✅ Your API key has been saved locally!");
            } else {
                document.getElementById("apiKey").textContent = "Error: API Key not found";
            }
        }

        function copyApiKey() {
            const keyText = document.getElementById("apiKey").textContent;
            navigator.clipboard.writeText(keyText).then(() => {
                alert("Access Key copied to clipboard!");
                saveKey();
            }).catch(() => {
                alert("Failed to copy Key. Please copy manually.");
            });
        }

        saveKey();
    </script>
    <style>
        html,
        body {
            min-height: 100vh;
        }
    </style>
</body>

</html>