/*---------------------------------------*\
    # Footer & Global Links
\*---------------------------------------*/
.footer-links {
    margin-top: var(--margin-large);
    font-size: 1em;
}

.footer-links span {
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    transition: color 0.3s ease;
}

.footer-links span:hover {
    color: #777;
}

@media (max-width: 768px) {
    .footer-links {
        font-size: 0.8em;
        margin-top: var(--margin-medium);
    }
}